/*
!/.github
!/.gitignore
!/.gitattributes
!/.travis.yml
!/src/
!/spec/
!/build.xml
!/CHANGELOG.md
!/README.md
!/LICENSE
!/composer.json
!phpcs.xml.dist
!phpmd.xml
!phpspec.yml
!phpstan.neon
!.composer-require-checker.json
!build.default.properties
!.phpcq.yaml.dist
!.phpcq
.phpcq/*
!.phpcq/local
!psalm.xml
