/*
!/.gitignore
!/.gitattributes
!/.travis.yml
!/src/
!/spec/
!/build.xml
!/CHANGELOG.md
!/README.md
!/LICENSE
!/composer.json
!/screenshot*.jpg
!/screenshot*.png
!phpcs.xml.dist
!phpspec.yml
!.composer-require-checker.json
