#tl_navigation .group-cowegis {
    background: url(../img/logo.svg) 3px 2px no-repeat;
    background-size: 14px 14px;
}

.cowegis-sub-headline {
    margin: 18px 15px 3px;
}

.cowegis-geocoder-box {
    padding: 6px 15px 14px;
}
